/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_main.scss */
.container, .table, tbody, tr {
  width: 960px;
  position: relative;
  display: inline-block;
}

/* line 8, ../sass/_main.scss */
tr {
  /*display: table-row;*/
  width: 960px;
  position: relative;
  border-bottom: 1px solid #afafaf;
  overflow: hidden;
  border-collapse: seperate;
  border-spacing: 4px;
  border: 1px solid #cfcfcf;
  height: 100px;
}

/* line 20, ../sass/_main.scss */
tr:first-child {
  height: 50px;
  text-transform: uppercase;
  background-color: #98ceca;
}

/* line 25, ../sass/_main.scss */
tr td {
  font-size: 12px;
  height: 100px;
  width: calc(100% / 5 - 8px);
  position: relative;
  display: inline-block;
  overflow-x: scroll;
  border-spacing: 4px;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

/* line 38, ../sass/_main.scss */
tr div {
  display: inline-block;
}

/* line 41, ../sass/_main.scss */
tr:nth-child(odd) {
  background-color: #f3f3f3;
}

/* line 44, ../sass/_main.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 48, ../sass/_main.scss */
::-webkit-scrollbar-track {
  background-color: #efefef;
  padding: 1px;
}

/* the new scrollbar will have a flat appearance with the set background color */
/* line 54, ../sass/_main.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #b3b3b3;
}

/* this will style the thumb, ignoring the track */
/* line 59, ../sass/_main.scss */
::-webkit-scrollbar-button {
  background-color: #efefef;
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
/* line 64, ../sass/_main.scss */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* line 8, ../sass/screen.scss */
.container, .table, tbody, tr {
  width: 960px;
  position: relative;
  display: inline-block;
}

/* line 15, ../sass/screen.scss */
.container, .table, tbody, tr {
  width: 960px;
  position: relative;
  display: inline-block;
}

/* line 22, ../sass/screen.scss */
tr {
  /*display: table-row;*/
  width: 960px;
  position: relative;
  border-bottom: 1px solid #afafaf;
  overflow: hidden;
  border-collapse: seperate;
  border-spacing: 4px;
  border: 1px solid #cfcfcf;
  height: 100px;
}

/* line 34, ../sass/screen.scss */
tr:first-child {
  height: 50px;
  text-transform: uppercase;
  background-color: #98ceca;
}

/* line 39, ../sass/screen.scss */
tr td {
  font-size: 12px;
  height: 100px;
  width: calc(100% / 5 - 8px);
  position: relative;
  display: inline-block;
  overflow-x: scroll;
  border-spacing: 4px;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

/* line 52, ../sass/screen.scss */
tr div {
  display: inline-block;
}

/* line 55, ../sass/screen.scss */
tr:nth-child(odd) {
  background-color: #f3f3f3;
}

/* line 58, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 62, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background-color: #efefef;
  padding: 1px;
}

/* the new scrollbar will have a flat appearance with the set background color */
/* line 68, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #b3b3b3;
}

/* this will style the thumb, ignoring the track */
/* line 73, ../sass/screen.scss */
::-webkit-scrollbar-button {
  background-color: #efefef;
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
/* line 78, ../sass/screen.scss */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* line 83, ../sass/screen.scss */
table.table.one-half {
  width: 50%;
}
