<div class="container">
	<h1>Trello-Office</h1>
	<div class="row" >
		<table class="table table-striped" >
            <input type="text" ng-model="searchBoards" class="input_search" placeholder="Boards durchsuchen">
            <h3>Overview</h3>
			<tr>
				<td>Name</td>
				<td>Letzte Bearbeitung</td>
                <td>Created At</td>
			</tr>
			<tr ng-repeat="board in boards | filter: searchBoards">
				<td><a ng-href="{{board.url}}" target="_blank">{{ board.name }}</a></td>
                <td><div>{{ board.last_trello_sync }}</div></td>
                <td><div>{{ boards.lists }}</div></td>
				<td><div>{{ board.last_change }}</div></td>
			</tr>
		</table>
	</div>
</div>